@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #060714;
  --foreground: #DDE0E8;
  --foreground1: rgba(119, 128, 161, 1);
}

body {
  color: var(--foreground1);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/Background.png') no-repeat center center/cover;
  z-index: -1;
}
